@import "styles/normalize.css";
@import "styles/base.css";
@import "styles/fonts.css";
@import "styles/variables.css";

@import "styles/blocks/img-carousel.css";
@import "styles/blocks/img-grid.css";
@import "styles/blocks/faq.css";

@import "styles/components/trg-carousel.css";

.text-container {
  display: grid;

  > * {
    display: grid;
    grid-template-columns: 0 minmax(0, 800px) 0;
    justify-content: center;
    padding: 2rem;

    > * {
      grid-column: 2;
    }
  }
}

.text-header {
  background: var(--color-yellow);
  padding-top: 5rem;
  > p {
    font-size: 1.5em;
  }
}

.text-content {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: white;
  color: var(--color-gray);
  background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1290 107" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0c22.709 11.142 53.02 24.542 90.735 39.297 150.859 58.72 322.125 87.779 424.965 52.17 102.94-35.683 138.053-52.17 210.882-52.17 72.828 0 118.346 36.587 219.585 28.833 101.243-7.754 76.333-44.642 188.773-44.642C1231.48 23.488 1290 0 1290 0H0Z" fill="%23FFC500"/></svg>');
  background-repeat: no-repeat;
  background-size: 100% min(100px, 5vw);

  font-size: 1.25em;
  line-height: 1.5;
}
.title {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.03em;
  font-weight: 800;
  margin: 0;
}
.subtitle {
  font-size: 2rem;
  line-height: 1;
  letter-spacing: -0.03em;
  font-weight: 800;
  margin: 0;
}

.text {
  font-size: var(--fs-2);
  line-height: 1.5;
}


.footer {
  display: grid;
  column-gap: 2rem;
  row-gap: 2em;
  font-size: 0.9rem;
  line-height: 1.5;
  grid-template-columns: 1fr auto;
  padding: 8rem 2rem 4rem 2rem;
  background-color: var(--color-gray);
  color: white;
  background-image: url('data:image/svg+xml;utf8,<svg preserveAspectRatio="none" viewBox="0 0 1290 107" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0c22.709 11.142 53.02 24.542 90.735 39.297 150.859 58.72 322.125 87.779 424.965 52.17 102.94-35.683 138.053-52.17 210.882-52.17 72.828 0 118.346 36.587 219.585 28.833 101.243-7.754 76.333-44.642 188.773-44.642C1231.48 23.488 1290 0 1290 0H0Z" fill="%23fff"/></svg>');
  background-repeat: no-repeat;
  background-size: 100% min(100px, 5vw);

  & ul,
  & p {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li.is-separated {
    margin-bottom: .5em;
  }

  @media (max-width: 999px) {
    & ul {
      grid-row: 2;
    }
  }
  @media (min-width: 1000px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.footer-logo {
  justify-self: end;
}

.button.is-secondary {
  --background: var(--color-yellow);
  background: color-mix(in srgb, var(--background), white 50%);
  border-color: transparent;
  border-radius: 4px;

  &:hover {
    border-color: currentColor;
  }
}

.button.is-primary {
  background: var(--color-yellow);
  border-radius: 4px;
  color: var(--color-gray);
  padding: 1rem;
  font-size: 1.25em;

  &:hover {
    background: color-mix(in srgb, var(--color-yellow), white 50%);
  }
}