:root {
  --font-family: Roobert, system-ui, sans-serif; 
  --color-black: #242424;
  --color-yellow: #FFC500;
  --color-gray: #23313e;
  scroll-padding-top: 150px;

  --fs-0: 14px;
  --fs-1: 1rem;
  --fs-2: 1.5rem;
  --fs-3: 2rem;
}