<div class="block-faq">
  {{ for item of it.questions }}
  <details class="block-faq-question">
    <summary>{{ item.question }}</summary>
    <div class="block-faq-answer">
      {{ item.answer |> md }}
    </div>
  </details>
  {{ /for }}
</div>
